.gallery {
    border-radius: var(--rad-gallery);
    overflow: hidden;
    height: calc(var(--scale) * 350px);
    min-height: var(--mxh-g);
    position: relative;
    width: 100%;

    &__nav {
        --size: calc(var(--scale) * 25px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        top: calc((100% - var(--size)) / 2);
        position: absolute;
        z-index: 6;
        left: auto;
        right: auto;
        cursor: pointer;
        background: #fff;

        svg {
            width: calc(var(--scale) * 5px);
            height: calc(var(--scale) * 7px);
        }
    }

    &__prev {
        left: calc(var(--scale) * 10px);
    }

    &__next {
        right: calc(var(--scale) * 10px);
    }

    &__img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        transition: all 0.3s;

        &-con {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }

        &.active {
            opacity: 1;
        }

        &-hover {
            z-index: 5;
            width: 100%;
            height: 100%;

            &__con {
                position: absolute;
                display: flex;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    &__pag {
        width: var(--w-pag);
        height: var(--h-pag);
        border-radius: 1px;
        transition: all 0.3s;
        cursor: pointer;
        z-index: 6;
        position: relative;
        background: #ffffff4d;

        &.active {
            background: #ffffff;
        }

        &-con {
            display: flex;
            gap: var(--gap-pag);
            width: var(--mxw-pag);
            position: absolute;
            left: var(--left-pag);
            justify-content: center;
            bottom: var(--btm-pag);

            @media screen and (max-width: 960px) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 960px) {
        height: calc(var(--scale) * 270px);
        min-height: auto;
        width: 100%;
        min-width: 100%;

        &__nav {
            display: none;
        }
    }

    @media screen and (max-width: 368px) {
        height: calc(var(--scale) * 170px);
    }
}
