.popup {
    --f-family: 'DINCondensed', Arial, sans-serif;

    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(24px);
    background: #000000b2;
    overflow-y: auto;
    padding-top: calc(var(--scale) * 60px) !important;
    padding-bottom: calc(var(--scale) * 10px);
    box-sizing: border-box;

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    &__swiper {
        margin-bottom: calc(var(--scale) * 20px);
        width: 100%;
        position: relative;
        padding-left: calc(var(--scale) * 10px);
        padding-right: calc(var(--scale) * 10px);
        box-sizing: border-box;
        min-height: calc(var(--scale) * 180px);
    }

    &__prev,
    &__next {
        z-index: 10;
        position: absolute;
        top: calc(50% - 12.5px);
        width: calc(var(--scale) * 25px);
        height: calc(var(--scale) * 25px);
        border-radius: 50%;
        backdrop-filter: blur(calc(var(--scale) * 4px));
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff33;

        svg {
            width: calc(var(--scale) * 5px);
            height: calc(var(--scale) * 7px);
        }
    }

    &__next {
        right: calc(var(--scale) * 15px);
    }

    &__prev {
        left: calc(var(--scale) * 15px);
    }

    &__slide {
        display: flex;

        img {
            height: auto;
            border-radius: calc(var(--scale) * 10px);
            object-fit: cover;
        }
    }

    &__close {
        z-index: 1001;
        position: fixed;
        height: calc(var(--scale) * 40px);
        width: calc(var(--scale) * 40px);
        border: calc(var(--scale) * 1px) solid #ffffff33;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: calc(var(--scale) * 10px);
        top: calc(var(--scale) * 10px);

        svg {
            width: calc(var(--scale) * 12px);
            height: calc(var(--scale) * 12px);
        }
    }

    &__wrapper {
        padding-left: calc(var(--scale) * 10px);
        padding-right: calc(var(--scale) * 10px);
        box-sizing: border-box;
        width: 100%;
    }

    &__title {
        font-family: var(--f-family);
        font-size: calc(var(--scale) * 30px);
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #fff;
    }

    &__descr {
        font-family: var(--f-family);
        font-size: calc(var(--scale) * 12px);
        font-weight: 400;
        line-height: 120%;
        color: #fff;
    }
}
