.hidden {
    padding: 0 !important;
    margin: 0 !important;

    .t754__parent {
        display: none !important;
    }
}

// .tn-atom__video-play-icon {
//     --size: calc(var(--scale) * 92px);
//     height: var(--size) !important;
//     width: var(--size) !important;
// }
