.slider {
	// текстовые переменные
	--f-family: Arial, sans-serif;
	--f-size-card: 12px;
	--f-size-descr: 14px;
	--f-size-cat: 12px;
	--f-size-city: 16px;
	--f-size-title: 60px;
	// отступы

	--gap-cards: 10px;
	--gap-main: 20px;
	--mrgn-main-slider: 30px;
	--mrgn-cat: 40px;

	//паддинги
	--pad-side: 30px;
}
